<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/dist/output.css" rel="stylesheet">
<script src="https://cdn.tailwindcss.com"></script>
<title>Home</title>
</head>
<header>
    <div class="flex justify-between items-center h-20 bg-slate-900 px-28 ">
        <form>
            <button type="submit" formaction="/" formmethod="GET"><img src="/images/Meetway-1.png" alt="logo"></button>
        </form>
        <form class="flex">
            <% if (!user) { %>
                <button type="submit" formmethod="GET" formaction="/users/new/" class="flex justify-center items-center h-8 ml-8 px-4 py-2 text-white text-sm">Sign Up</button>
                <button type="submit" formmethod="GET" formaction="/users/login/" class=" flex justify-center items-center h-8 ml-12 bg-white px-4 py-2 rounded-3xl text-sm">Log In</button>
            <% } else { %>
                <button type="submit" formmethod="GET" formaction="/events/new/" class="flex justify-center items-center h-8 px-4 py-2 text-white text-sm">New Event</button>
                <button type="submit" formmethod="GET" formaction="/users/profile" class="flex justify-center items-center h-8 px-4 py-2 text-white text-sm"><%= name + "'s Profile"%></button>
                <button type="submit" formmethod="GET" formaction="/users/logout/" class=" flex justify-center items-center h-8 ml-12 bg-white px-4 py-2 rounded-3xl text-sm">Log Out</button>
            <% } %>
        </form>

    </div>
    <div class="border border-gray-500"></div>
    <div class="bg-slate-900 h-20 flex justify-start items-center px-28">
        <form class="flex justify-center items-center mb-0">
            <button type="submit" formmethod="GET" formaction="/events/" class="text-white">Events</button>
        </form>
    </div>

        <% if(errorMessages.length> 0) {%>
            <% errorMessages.forEach(message=>{%>
                <div class='bg-red-400 text-center'>
                    <%=message%>
                </div>
            <%});%>
        <%}%>
        
        <% if(successMessages.length> 0) {%>
            <% successMessages.forEach(message=>{%>
                <div class='bg-green-400 text-center'>
                    <%=message%>
                </div>
            <%});%>
        <%}%>
</header>
<body class="h-screen">