<body class="flex flex-col h-screen justify-between bg-slate-800">
    <%- include('./partials/header.ejs') %>
    <div class="bg-slate-800">
        <div class="text-white px-28 flex items-start justify-center flex-col mb-auto h-full">
            <h1 class="pb-8 text-4xl">About Us</h1>
            <p class="pb-4 text-lg">We are a small company trying to bring professionals together! You can use the info below to contact us!</p>
            <p>(123) 456 8900 | email@meetway.com</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>