<body class="flex flex-col h-screen justify-between bg-slate-800">
    <%- include('./partials/header.ejs') %>
    <div class="text-white px-28 flex items-start justify-center flex-col mb-auto h-full">
        <div class="mb-10">
            <h2 class="text-2xl mb-3">Career Meetups</h2>
            <ul>
                <li class="text-sm pl-10 mb-2 text-slate-300 hover:text-white"><a href='event.html'>Ally Career Meetup</a></li>
                <li class="text-sm pl-10 mb-2 text-slate-300 hover:text-white"><a href='event.html'>Tesla Career Meetup</a></li>
                <li class="text-sm pl-10 mb-2 text-slate-300 hover:text-white"><a href='event.html'>Wells Fargo Career Meetup</a></li>
            </ul>
        </div>

        <div>
            <h2 class="text-2xl mb-3">Career Workshops</h2>
            <ul>
                <li class="text-sm pl-10 mb-2 text-slate-300 hover:text-white"><a href='event.html'>Resume Writing</a></li>
                <li class="text-sm pl-10 mb-2 text-slate-300 hover:text-white"><a href='event.html'>Cover Letter Writing</a></li>
                <li class="text-sm pl-10 mb-2 text-slate-300 hover:text-white"><a href='event.html'>Career Fair Crash Course</a></li>
            </ul>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
