<%- include('../partials/header.ejs') %>
<div class="flex flex-col h-screen justify-between">
    <body class="bg-slate-800">
        <div class="text-white px-28 flex items-start justify-center flex-col mb-auto h-full">
            <h1 class="pb-8 text-4xl">Welcome to MeetWay</h1>
            <p class="pb-4 text-lg">Attend and create professional events to connect with people. Whether you are
                looking for a
                new job,
                skills, or trying to connect with others who are interested in something you love to do, or want
                something new.</p>
            <p>Check out the Events section to browse available events!</p>
        </div>
    </body>
</div>
<%- include('../partials/footer.ejs') %>