<%- include('../partials/header.ejs')%>
<div class="bg-slate-800 h-full">
    <form action='/users/login' method='POST' class="flex flex-col text-white p-20">
        <label for="email">Email Address</label></td>
        <input type="email" id="email" name="email" required class="mb-4 rounded text-black"></td>
    
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="mb-4 rounded text-black" required>
    
        <input type="submit" value="Login" class="bg-green-400 rounded">
    </form>
</div>
<%- include('../partials/footer.ejs')%>


